body{
  text-align: center;
  padding: 0px;
  margin: 0px;
}

#template-img{
  position: absolute;
  width: 1263px;
  left: 0px;
}

#el1-el{
  position: absolute;
  left: 562px;
  top: 42px;
  text-decoration: none;
  font-size: 22px;
  font-family: 'Quicksand', sans-serif; 
  opacity: 0;
}

#el2-el{
  position: absolute;
  left: 760px;
  top: 42px;
  text-decoration: none;
  font-size: 22px;
  font-family: 'Quicksand', sans-serif; 
  opacity: 0;
}

#el3-el{
  position: absolute;
  left: 940px;
  top: 42px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif; 
  opacity: 0;
}

#el4-el{
  position: absolute;
  left: 1090px;
  top: 42px;
  text-decoration: none;
  font-size: 22px;
  font-family: 'Quicksand', sans-serif;
  opacity: 0;
} 


#sample-el{
  position: absolute;
  top: 684px;
  left: 500px;
  border: 17px solid black;
  padding: 0px 80px 0px 80px;
  border-radius: 50px;
  opacity: 0;
}