<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <title>Entro</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Quicksand&display=swap" rel="stylesheet"></head>


</head>

<body class="main-layout">

  <img id="template-img" src="{{url_for('static', filename='itemplate.png')}}" alt="">

<a href="index.html"><img src="{{url_for('static', filename='logo.png')}}" alt="#" /></a>

<span>         
  <a id="el1-el" href="https://www.youtube.com/">Soulja's youtube</a>
  <a id="el2-el" href="https://www.youtube.com/">Soulja's twitter</a>
  <a id="el3-el" href="https://www.youtube.com/">my youtube</a>
  <a id="el4-el" href="https://www.youtube.com/">my twitter</a> 
</span>   

<span>was Soulja Boy</span>
<h1>THE FIRST TO .COM</h1>
<p>DeAndre Cortez Way (better known as Soulja Boy Tell 'Em or Soulja Boy) [1] [2] (Chicago, Illinois, July 28, 1990 -) is an American rapper, producer and actor. In September 2007, his first single, "Crank That (Soulja Boy)" [3], reached number one on the American Billboard Hot 100 list. The single was self-published on the Internet and later became a chart-topping hit in the United States for seven weeks, beginning in September 2007. [4]</p>
<a id="sample-el" href="http://127.0.0.1:8000/was_soulja_boy_the_first_one_to/have sex">sample</a>


</body>

</html>