<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <title>Entro</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='mainpage.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Quicksand&display=swap" rel="stylesheet"></head>

<body class="main-layout contineer_page">

  <img id="template-img" src="{{url_for('static', filename='template1.png')}}" alt="">

  <h2 id="yes-el">Yes</h2>

  
  <h2>Obviously</h2>


  <p id="info-el"> Soulja boy was the firts one to  {{name}} </p>

  <img id="img-img" src="{{url_for('static', filename='Untitled.png')}}"/>

  <a id="back-el" href="http://127.0.0.1:8000/was_soulja_boy_the_first_one_to/">back</a> 

  <p id="soyboy-el">DeAndre Cortez Way (better known as Soulja Boy Tell 'Em or Soulja Boy) [1] [2] (Chicago, Illinois, July 28, 1990 -) is an American rapper, producer and actor. In September 2007, his first single, "Crank That (Soulja Boy)" [3], reached number one on the American Billboard Hot 100 list. The single was self-published on the Internet and later became a chart-topping hit in the United States for seven weeks, beginning in September 2007. [4]</p>

</body>

</html>